<footer>
    <div class="info">
        <div class="info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="info-brand">&copy Tourism Website Limited</div>
        <div class="info-terms">
            <div class="term1">Privacy</div>
            <div class="term2">Terms</div>
        </div>
    </div>
</footer>